.home-page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border: 1px solid black;
  transition: .3s all;
  padding:4px;
}
a.button:hover{
    background:pink;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.detailsView-container {
  max-width: 800px;
  height: 80vh;
  overflow-y: auto;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.detailsView-h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.detailsView-selections {
  margin-bottom: 1rem;
}

.detailsView-row {
  display: flex;
  margin-bottom: 8px;
  justify-content: center;
}

.detailsView-aisle {
  width: 16px;
}

.detailsView-seat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 1px solid darkgray;
  padding: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  width: calc((100% - 16px) / 6);
  height: 32px;
}

.detailsView-seat.selected {
  background-color: green;
}

.detailsView-seat:last-child {
  margin-right: 0;
}

.detailsView-seat-label {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.detailsView-selection-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.detailsView-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  appearance: none;
}

.detailsView-destination {
  margin-bottom: 2rem;
}

.detailsView-button {
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
  width: 100%;
}

.detailsView-button:hover {
  background-color: #0056b3;
}

.detailsView-button:focus {
  outline: none;
}
