body {  
    background-image: url('https://i.insider.com/5e8f70a8c023205e4245d983?width=1000&format=jpeg&auto=webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
  }


.summaryViewcontainer {
    width: 100%;
    height: 100%;  /* assuming this is the parent container, changed from 50% to 100% to fill up the whole space */
    display: flex;
    flex-direction: column;  /* change direction from row (default) to column */
}

.summaryViewweather{
    width: 100%;
    height: 33.33%; /* new property to divide the parent container evenly */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(118, 71, 131);
    margin: 0;
    text-shadow: 1px 1px #fff;
    position: relative;
}

.summaryViewchoose-seat{
  width: 100%;
  height: 33.33%; /* changed from 40% to 33.33% to divide the parent container evenly */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: rgb(118, 71, 131);
  margin: 0;
  text-shadow: 1px 1px #fff;
  position: relative;
}


.selectedSeat {
    width: 90px;  /* Set a fixed width */
    height: 60px;  /* Set a fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(118, 71, 131);
    margin: 0;
    text-shadow: 1px 1px #fff;
    position: relative;
  }
    
  
  .summaryView-seats-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(118, 71, 131);
    margin: 0;
    text-shadow: 1px 1px #fff;
    position: relative;
  }
  
  
 
    
  .summaryViewcurrency{
    width: 100%;
    height: 33.33%; /* new property to divide the parent container evenly */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.summaryViewcurrencyboxes {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(118, 71, 131);
    margin: 0;
    text-shadow: 1px 1px #fff;
    position: relative;

  }
  
  .summaryViewh1, .summaryViewh2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(118, 71, 131);
    margin: 0;
    text-shadow: 1px 1px #fff;
    position: relative;
    
  }
  
  .summaryViewh2 {
    padding-left: 20px;
  }
  
  .box {
    width: 80px;
    height: 50px;
    font-size: 25px;
    font-weight: normal;
    background-color: rgb(118, 71, 131);
    color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: black 1px solid;
    cursor: pointer;
  }