.choose-seat{
    width: 100%;
    height: 44%;
    background-color: aquamarine;
    position: relative;
}

.container {
    width: 100%;
    height: 55%;
    display: flex;
}

.weather{
    width: 49%;
    height: 100%;
    background-color: grey;
}

.currency{
    width: 49%;
    height: 100%;
}

.seat {
    border: black 1px solid;
    width: 30px;
    height: 30px;
    position: absolute;
    transition: all .3s ease-in-out;
    text-align: center;
    color: red;
    cursor: pointer;
}

.seat:hover {
    box-shadow: 3px 3px 1px grey;
    /* background-color: blue;
    color: white; */
}

.choosed {
    background-color: blue;
    color: white;
}

h4 {
    cursor: pointer;
}